.doctor-card {
  width: 100%;
  background: #f4f6f9;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #d9e2ec;
  /* Added bottom margin */
  margin-bottom: 30px;
}

/* Header */
.doctor-header {
  display: flex;
  gap: 15px;
  padding: 20px;

  /* Fill available space */
  flex-grow: 1;
}

/* Footer */
.doctor-footer {
  padding: 15px;
  background: #63dbf0;

  /* Push footer to bottom */
  margin-top: auto;
}

/* ICON BOX */
.doctor-icon-box {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #3B82A0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor-icon {
  font-size: 30px;
  color: white;
}

.doctor-name {
  margin: 0;
  font-weight: 700;
}

.doctor-title {
  margin: 2px 0;
  font-size: 13px;
  color: #666;
}

.doctor-hospital {
  font-size: 13px;
  color: #888;
}

/* Tags */
.doctor-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 10px 0;
}

.doctor-tags span {
  background: #e6ebf5;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

/* Info */
.doctor-info {
  display: flex;
  gap: 25px;
  margin: 10px 0;
}

.doctor-info strong {
  font-size: 15px;
}

.doctor-info p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.doctor-location {
  font-size: 13px;
  color: #555;
}

/* Button */
.btn-fill {
  width: 100%;
  padding: 12px;
  border: none;
  background: #28a745;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-fill:hover {
  background: #23913d;
}

.doctors-section,
.doctors-container,
.container {
  padding-bottom: 60px;
}